<div class='container'>
	<div class='columns is-centered'>
		<div class='box column is-half'>
			<h1 class='title has-text-centered'>
				Password Generator
			</h1>

			<div class='field'>
				<label>Enter Length</label>
				<input
						(input)='onChangeLength($event.target.value)'
						type='text'
						class='input'/>
			</div>

			<div class='field'>
				<div class='control'>
					<label class='checkbox'>
						<input
								(change)='onChangeUseLetters()'
								type='checkbox'
								class='checkbox'/>
						Use Letters
					</label>
				</div>
			</div>

			<div class='field'>
				<div class='control'>
					<label class='checkbox'>
						<input
								(change)='onChangeUseNumbers()'
								type='checkbox'
								class='checkbox'>
							Use Numbers
					</label>
				</div>
			</div>

			<div class='field'>
				<div class='control'>
					<label clas='checkbox'>
						<input
								(change)='onChangeUseSymbols()'
								type='checkbox'
								class='checkbox'>
						User Symbols
					</label>
				</div>
			</div>

			<button
					(click)='genPW()'
					[disabled]='isValid()'
					class='button is-link is-fullwidth'>Generate</button>

			<div 
					*ngIf='password'
					class='box'>
				<label>Your Password</label>
				<input [value]='password' type='text'>
			</div>

		</div>
	</div>
</div>


<footer class='footer'>
	<div class='content has-text-right'>
		<p>
			<strong>built</strong> by <a href='http://jDev.at'>jD</a>
		</p>
	</div>
</footer>